.vs/* 
RemoteWindowWpf/*/bin/* 
RemoteWindowWpf/*/obj/* 
packages/*
/RemoteWindowWpf/Debug
/RemoteWindowWpf/PanuonUI/Net45/Panuon.UI.Silver/bin/Debug
/RemoteWindowWpf/PanuonUI/Net45/Panuon.UI.Silver/obj/Debug
